# This file is part of sv-witnesses repository: https://github.com/sosy-lab/sv-witnesses
#
# SPDX-FileCopyrightText: 2020 Dirk Beyer <https://www.sosy-lab.org>
#
# SPDX-License-Identifier: Apache-2.0

[flake8]
max-line-length = 88
ignore =
    # we have no isort config
    I,
    # do not match Black output
    E203,W503,
    # allow print
    T001,

